@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    height: 100px;
    background: yellow;
    margin: 20px 100px auto;
    
}

#subtitle {
    background: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.topic {
    background: lightgray;
    display: inline;
    margin: 95px;
    
    
}
